$color--react: #61dafb;

body {
    background: blue url("../assets/react-bg.jpg");
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: "karla", sans-serif;
}
/* Typography */
h1 {
    font-family: "Gelion", sans-serif;
}
p {
    max-width: 30rem;
    margin: auto;
    display: block;
    background: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    border: 0px;
    padding: 1rem;
    border-radius: 0.3rem;
    color: rgba(255, 255, 255, 0.8);
}
hr {
    border-color: rgba(0, 150, 150, 0.5);
}
/* Nav */
.container-nav {
    padding: 5vmin 0;
}
.nav-link {
    font-family: "Gelion", sans-serif;
}
label {
    font-family: "Gelion", sans-serif;
}
@media (max-width: 576px) {
    .container-nav {
        padding: 0;
    }
    .navbar {
        text-align: center;
        letter-spacing: 0.01rem;
        font-size: 1.3rem;
    }
    .navbar-collapse {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    }
    .nav-link {
        position: relative;
        &:after {
            border-bottom: 0.05rem solid rgba(255, 255, 255, 0.1);
            content: "";
            width: 100%;
            bottom: 0;
            position: absolute;
            left: 0;
            margin: auto;
            right: 0;
        }
    }
    .nav-link i[class*="i"] {
        margin: 0 1rem;
    }
}

@media (min-width: 577px) {
    .navbar-brand {
        transition: all 0.2s ease-out;
        width: 2rem;
        position: relative;
        margin-right: 3.5rem;
        & > i {
            background: rgba(255, 255, 255, 0.3);
            content: "";
            width: 0.1rem;
            top: -1.4rem;
            border-radius: 1rem;
            position: absolute;
            height: 3rem;
            right: -2rem;
        }
        & > .logoScale {
            transition: all 0.2s ease-in-out;
            position: absolute;
            width: 5rem;
            transform: scale(0.4);
            top: -2.25rem;
            left: -1rem;
            height: 5rem;
            & img {
                width: 100%;
                height: 100%;
            }
        }
        &:hover > .logoScale {
            transform: scale(0.8);
            & img {
                animation: App-logo-spin infinite 20s linear;
            }
        }
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .nav-link {
        user-select: none;
        transition: none;
        transform: scale(0.9);
        letter-spacing: 0.03rem;
        transition: margin 0.3s ease, transform 0.3s ease;
        &:hover {
            transform: scale(1);
            background: rgba(0, 0, 0, 0.5);
            margin: 0 0.3rem;
            font-size: 1rem;
            & > i[class*="i"]:after {
                transform: scale(1.4);
            }
        }
        &.active {
            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }
            & i[class*="i"]:after {
                animation: App-open-active forwards 1s ease-in-out;
            }
            & > span {
                text-shadow: 0 0 0.9px white, 0 0 0.9px white, 0 0 0.9px white;
                transition: all 0.3s ease-in-out;
                color: rgba(255, 255, 255, 0.5) !important;
            }
            & > i[class*="i"]:after {
                transform: scale(1.4);
            }
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: -20%;
                border-radius: 0.3rem;
                pointer-events: none;
                z-index: -1;
                opacity: 0.5;
                position: absolute;
            }
        }
    }
    @keyframes App-open-hover {
        0% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(-0.6rem) scale(0.8);
        }
        50% {
            transform: translateY(0) scale(1);
        }
        70% {
            transform: translateY(-0.4rem) scale(0.9);
        }
        100% {
            transform: translateY(0) scale(1);
        }
    }
    @keyframes App-open-active {
        0% {
            transform: translateY(0) scale(1.4);
        }
        30% {
            transform: translateY(-0.6rem) scale(1.1);
        }
        50% {
            transform: translateY(0) scale(1.4);
        }
        70% {
            transform: translateY(-0.4rem) scale(1.2);
        }
        100% {
            transform: translateY(0) scale(1.4);
        }
    }
    .nav-link i[class*="i"] {
        display: block;
        margin-left: 0.2rem;
        transform-origin: bottom;
    }
    .nav-link i[class*="i"]:after {
        text-align: center;
        transform-origin: bottom;
        transition: all 0.2s ease-in-out;
        width: 100%;
        display: block;
    }
}
i[class*="i"] {
    font-style: normal !important;
    color: white !important;
}
h1 i[class*="i"] {
    display: inline-block;
}
h1 i[class*="i"]:after {
    padding: 0 1rem;
}
.i-login {
    &:after {
        content: "🔓 ";
    }
}
.i-link {
    &:after {
        content: "🔗 ";
    }
}
.i-home {
    &:after {
        content: "🚪 ";
    }
}
.i-news {
    &:after {
        content: "📰 ";
    }
}
.navbar {
    background: rgba(0, 0, 150, 0.5) !important;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
}
.navbar {
    max-width: 50rem;
    margin: auto;
}
.animated {
    max-width: 30rem;
    margin: auto;
}
.form-control {
    filter: invert(1) hue-rotate(150deg);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
}
.link {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgba(100, 100, 255, 0.3);
    &:hover {
        text-decoration: underline;
        color: rgba(255, 255, 255, 1);
    }
    &:before {
        content: "🔗 ";
    }
}
.list-group-item {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    border: 0px;
}

/* Content */
.container-content {
    padding: 10vmin 10vmin;
}
.animated {
    transform-origin: bottom;
}

/* Typography */
h1 {
    margin-block-end: 1em;
}

/* Forms */
input {
    min-width: 20rem;
}
.error {
    color: rgb(245, 121, 19);
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.336),
        rgba(0, 255, 242, 0.178)
    );
    margin: 0.3rem 0;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    &:before {
        content: "🔥 ";
    }
}
.username {
    &:before {
        content: "🛎 ";
    }
}
.password {
    &:before {
        content: "🔑 ";
    }
}
.btn-login {
    border: none;
    transition: all 0.1s ease-in-out;
    background-color: rgba(0, 195, 255, 0.705);
    padding: 0.5rem 1rem;
    &:before {
        content: "🔓";
    }
    &:hover {
        transform: scale(1.1);
    }
}
